<div ng-controller="FilterCtrl">
<!-- Small button group -->
<div class="container-fluid">
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         View by: <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="/#/view/parties">Party</a></li>
         <li><a href="#">Guest</a></li>
      </ul>
   </div>
   <div class="btn-group" ng-repeat="(prop, ignoredValue) in groupings" ng-init="filter[prop]">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         {[{prop | capitalizeFirst}]}  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="opt in getOptionsFor(prop)"><input type="checkbox" ng-model="filter[prop][opt]">{[{opt}]}</li></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Priority  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">High</a></li>
         <li><a href="#">Medium</a></li>
         <li><a href="#">Low</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Probability  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">High</a></li>
         <li><a href="#">Medium</a></li>
         <li><a href="#">Low</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Flag RYG  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">Red</a></li>
         <li><a href="#">Yellow</a></li>
         <li><a href="#">Green</a></li>
      </ul>
   </div>
</div>
   <!-- End small button group -->

<!-- Party boxes -->
   <div class="container-fluid" ng-controller="PartyListCtrl">
   <div class="row row-party">
   <div class="col-sm-4" ng-repeat="party in filtered=(parties | filter:filterByProperties | orderBy:orderProp | filter:query)">
       <div class="panel panel-success">
           <div class="panel-heading">
               <div class="panel-title">
                   <table class="table">
                       <tr>
                           <td ng-repeat="guest in party.guests">
                               <h3 class="panel-title" ng-bind-template="{[{guest.first_name + ' ' + guest.last_name}]}"></h3>
                           </td>
                       </tr>
                   </table>
               </div>
           </div>
           <div class="panel-body">
               <div class="list-group">
                   <a href="#" class="list-group-item"><strong>
                   Side:</strong>
                   <span ng-bind-template="{[{party.side}]}"></span>
                   </a>
                   <a href="#" class="list-group-item" ><strong>
                   Group: </strong>
                   <span ng-bind-template="{[{party.grouping}]}"></span>
                   </a>
                   <ul class="list-group">
                       <li class="list-group-item"><strong>
                           Guests:</strong>
                       </li>
                           <div class="list-group">
                               <a href="#" class="list-group-item" ng-repeat="guest in party.guests" ng-bind-template="{[{guest.first_name + ' ' + guest.last_name}]}">
                               </a>
                           </div>
                   </ul>
               </div>
           </div>
       </div>
   </div>
   </div>
   </div>
   <!-- End Party Boxes -->
</div>