<!-- Party boxes -->
   <div class="container-fluid" ng-controller="PartyListCtrl">
   <div class="row row-party">
   <div class="col-sm-4" ng-repeat="party in parties | filter:query | orderBy:orderProp">
       <div class="panel panel-success">
           <div class="panel-heading">
               <div class="panel-title">
                   <table class="table">
                       <tr>
                           <td ng-repeat="guest in party.guests">
                               <h3 class="panel-title" ng-bind-template="{[{guest.first_name + ' ' + guest.last_name}]}"></h3>
                           </td>
                       </tr>
                   </table>
               </div>
           </div>
           <div class="panel-body">
               <div class="list-group">
                   <a href="#" class="list-group-item"><strong>
                   Side:</strong>
                   <span ng-bind-template="{[{party.side}]}"></span>
                   </a>
                   <a href="#" class="list-group-item" ><strong>
                   Group: </strong>
                   <span ng-bind-template="{[{party.grouping}]}"></span>
                   </a>
                   <ul class="list-group">
                       <li class="list-group-item"><strong>
                           Guests:</strong>
                       </li>
                           <div class="list-group">
                               <a href="#" class="list-group-item" ng-repeat="guest in party.guests" ng-bind-template="{[{guest.first_name + ' ' + guest.last_name}]}">
                               </a>
                           </div>
                   </ul>
               </div>
           </div>
       </div>
   </div>
   </div>
   </div>
   <!-- End Party Boxes -->