<div class="container-fluid">
    <div class="row row-party">
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        <table class="table">
                           <tr>
                               <td>
                                   <h3 class="panel-title">{{guest.name}}</h3>
                               </td>
                           </tr>
                       </table>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">
                            <strong>Priority: </strong>
                            {{guest.priority}}
                        </a>
                        <a class="list-group-item">
                            <strong>Probability: </strong>
                            {{guest.probability}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
