   <!DOCTYPE html>
   <html lang="en" ng-app="weddingApp">
   <head>
      <meta charset="utf-8">
      <title>Guests Home</title>
      <link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/index.css" rel="stylesheet">
      <script src="../static/bower_components/angular/angular.js"></script>
      <script src="../static/bower_components/angular-route/angular-route.js"></script>
      <script src="../static/js/app.js"></script>
      <script src="../static/js/controllers.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
   </head>
   <body>
   <!-- Navbar -->
   <div class="container">
   <nav class="navbar navbar-default">
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="dropdown">
            <a href="#/view" class="dropdown-toggle" data-toggle="dropdown">
             Guests<span class="caret"></span>
            </a>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="/#/view">Parties</a></li>
                  <li><a href="#">is to put</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Links</li>
                  <li><a href="#">here</a></li>
               </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Costs<span class="caret"></span>
            </a>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">my goal</a></li>
                  <li><a href="#">is to put</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Links</li>
                  <li><a href="#">here</a></li>
               </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Timeline<span class="caret"></span>
            </a>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">my goal</a></li>
                  <li><a href="#">is to put</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Links</li>
                  <li><a href="#">here</a></li>
               </ul>
            </li>
            <li class="nav nav-search"><input type="text" placeholder="Type to search..." ng-model="query"></li>
         </ul>
      </div>
   </nav>
   </div>
<!-- End Navbar -->
<div ng-view></div>


   </body>
   </html>