   <!DOCTYPE html>
   <html lang="en" ng-app="weddingApp">
   <head>
      <meta charset="utf-8">
      <title>Guests Home</title>
      <link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/index.css" rel="stylesheet">
      <script src="../static/bower_components/angular/angular.js"></script>
      <script src="../static/bower_components/angular-route/angular-route.js"></script>
      <script src="../static/js/app.js"></script>
      <script src="../static/js/controllers.js"></script>
   </head>
   <body>
   <!-- Navbar -->
   <div class="container">
   <nav class="navbar navbar-default">
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Guests<span class="caret"></span>
            </a>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">my goal</a></li>
                  <li><a href="#">is to put</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Links</li>
                  <li><a href="#">here</a></li>
               </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Costs<span class="caret"></span>
            </a>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">my goal</a></li>
                  <li><a href="#">is to put</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Links</li>
                  <li><a href="#">here</a></li>
               </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Timeline<span class="caret"></span>
            </a>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#">my goal</a></li>
                  <li><a href="#">is to put</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Links</li>
                  <li><a href="#">here</a></li>
               </ul>
            </li>
            <li class="nav nav-search"><input type="text" placeholder="Type to search..." ng-model="query"></li>
         </ul>
      </div>
   </nav>
   </div>
<!-- End Navbar -->
   <!-- Small button group -->

<div class="container-fluid" ng-controller="FilterCtrl as filter">
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         View by: <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">Party</a></li>
         <li><a href="#">Guest</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Side  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">Meredith</a></li>
         <li><a href="#">Jonathan</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Group  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">Meredith</a></li>
         <li><a href="#">Jonathan</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Priority  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">High</a></li>
         <li><a href="#">Medium</a></li>
         <li><a href="#">Low</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Probability  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">High</a></li>
         <li><a href="#">Medium</a></li>
         <li><a href="#">Low</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
         Flag RYG  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
         <li><a href="#">Red</a></li>
         <li><a href="#">Yellow</a></li>
         <li><a href="#">Green</a></li>
      </ul>
   </div>
</div>
   <!-- End small button group -->

   <!-- Party boxes -->
   <div class="container-fluid" ng-controller="PartyListCtrl">
   <div class="row row-party">
   <div class="col-sm-4" ng-repeat="party in parties | filter:query | orderBy:orderProp">
       <div class="panel panel-success">
           <div class="panel-heading">
               <div class="panel-title">
                   <table class="table">
                       <tr>
                           <td ng-repeat="guest in party.guests">
                               <h3 class="panel-title">{[{guest.first_name + ' ' + guest.last_name}]}</h3>
                           </td>
                       </tr>
                   </table>
               </div>
           </div>
           <div class="panel-body">
               <div class="list-group">
                   <a href="#" class="list-group-item"><strong>
                   Side:</strong> {[{party.side}]}</a>
                   <a href="#" class="list-group-item"><strong>
                   Group:</strong> {[{party.grouping}]}</a>
                   <ul class="list-group">
                       <li class="list-group-item"><strong>
                           Guests:</strong>
                       </li>
                           <div class="list-group">
                               <a href="#" class="list-group-item" ng-repeat="guest in party.guests">
                               {[{guest.first_name + ' ' + guest.last_name}]}
                               </a>
                           </div>
                   </ul>
               </div>
           </div>
       </div>
   </div>
   </div>
   </div>
   <!-- End Party Boxes -->


   <!-- JQuery & Bootstrap -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>

   </body>
   </html>