{% extends 'base.html' %}
{% block body %}

<div class="row" id="party-box-row" style="display: none">
  <div class="col-sm-4" id="party-box-box">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Party ID</h3>
      </div>
      <div class="panel-body">
        <div class="list-group" id="party-side-group"><div class="pside">
          <a href="#" class="list-group-item"><strong>
            Side:</strong></a></div><div class="pgroup">
          <a href="#" class="list-group-item"><strong>
            Group:</strong></a></div>
          <ul class="list-group">
            <li class="list-group-item"><strong>
              Guests:</strong></li>
                <div class="list-group"><div class="pguests">
                <a href="#" class="list-group-item">Guest 1</a>
                <a href="#" class="list-group-item">Guest 2</a>
                </div></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}